.sidenav-container {
    height: 100%;
    background-color: rgb(236, 236, 228);
   min-height: 100vh;
   grid-template-rows: auto 1fr auto;

  }
 
  .sidenav {
    width: 250px;
    
  }
  
  .mat-toolbar {
    position: fixed; 
    display: flex;
    align-items: center;
    background-color: rgb(112, 233, 112);
    z-index: 1000; 
    margin-left: auto;
    height: 80px;
    justify-content: space-between;
 
  }
  
  .mat-nav-list a {
    text-decoration: none;
    color: rgba(0, 0, 0, 0.87);    
  }
  .menu{
    justify-content: flex-end;
  }
  

  .logo {
    width: 50%; /* Utiliza un ancho relativo para que el logo sea más adaptable a diferentes tamaños de pantalla */
    max-width: 350px; /* Establece un ancho máximo para el logo */
    height: auto; /* Mantiene la proporción de aspecto */
    margin-left: 10%; /* Agrega un margen fijo en lugar de un porcentaje para evitar problemas en pantallas pequeñas */
    border-radius: 10px; /* Agrega bordes redondeados al logo */
    box-shadow: 0 0 10px rgba(1, 15, 1, 0.5); /* Agrega una sombra alrededor del logo */
    transition: transform 0.3s ease-in-out; /* Agrega una transición suave al hacer hover */
}

.logo:hover {
    transform: scale(1.1); /* Hace que el logo aumente ligeramente de tamaño al pasar el ratón por encima */
}
  
.banner {
    width: 10%; /* Utiliza un ancho relativo para que el banner sea más adaptable */
    max-width: 70px; /* Establece un ancho máximo para el banner */
    height: auto; /* Mantiene la proporción de aspecto */
    margin-left: auto; /* Empuja el banner hacia la derecha del toolbar */
}
















footer {
  background-color: #fafafa;
  padding: 20px;
}

.footer-content {
  display: flex;
  flex-wrap: wrap;
}

.footer-content div {
  flex: 1;
  margin-right: 20px;
}

.social-links {
  display: flex;
  flex-direction: column;
}

.social-links a {
  margin-bottom: 5px;
}




  /* -------------------------------------------------- */
  .mat-elevation-z2 {
    background-color: rgb(15, 122, 15);
    color: rgb(247, 242, 242);
    padding: 18px;
    font-size: 12px;
   /*  position: fixed;
    bottom: 0;
    width: 100%; */
    
  }
  
  /* Estilos para las columnas del footer */
  .footer-content {
    display: flex;
    justify-content: space-between;
  }
  
  .footer-content > div {
    flex: 1;
    text-align: left;
  }
  
  /* Estilos para los íconos de Material */
  mat-icon {
    vertical-align: middle;
    margin-right: 25px;
  }
  
  /* Estilos para los enlaces */
  a {
    color: rgb(20, 19, 19);
    text-decoration: none;
  }
  
  a:hover {
    color: yellow;
  }
  
  /* Estilos para el texto del footer */
  p {
    margin: 5px 0;
  }
  
  /* Media query para pantallas pequeñas */
  @media screen and (max-width: 600px) {
    .footer-content {
      flex-direction: column;
      align-items: center;
    }
  
    .footer-content > div {
      text-align: center;
      margin-bottom: 10px; /* Añadir un espacio entre las columnas */
    }
  }

  /* Estilos para la sección de derechos de autor */
.copyright {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    text-align: center;
  }



/* body */
.body-card {
    max-width: 90%; /* Establece un ancho máximo para la tarjeta */
  
    margin: 30px auto; /* Centra la tarjeta horizontalmente y agrega espacio alrededor */
    padding: 20px; /* Añade espacio interno a la tarjeta */
    border-radius: 10px; /* Redondea los bordes de la tarjeta */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Agrega una sombra suave */
  }
  
  .section {
    margin-bottom: 20px; /* Añade espacio entre secciones */
  }
  
  .details {
    overflow: hidden; /* Oculta el contenido que sobresale de la sección */
  }
  
  .mat-card-header {
    background-color: #4CAF50; /* Color de fondo para el encabezado de la tarjeta */
    color: white; /* Color de texto para el encabezado */
    padding: 10px; /* Añade espacio interno al encabezado */
  }
  
  .mat-card-content {
    padding-top: 10px; /* Añade espacio superior al contenido de la tarjeta */
  }
  
  h2 {
    color: #4CAF50; /* Color de texto para los títulos */
  }
  
  p {
    line-height: 1.5; /* Ajusta el espaciado entre líneas del texto */
  }





  .section2 {
    opacity: 0; /* Oculta la sección inicialmente */
    transition: opacity 0.5s ease; /* Agrega una transición suave para la opacidad */
    margin-bottom: 50px;
  }
  
  .section2.visible {
    opacity: 1; /* Muestra la sección cuando tiene la clase "visible" */
  }


  /*  lieanmientos */
  .linea-accion, .areas-intervencion {
    margin-bottom: 20px; /* Añade espacio entre secciones */
  }
  
  .mat-card {
    width: 100%; /* O ajusta el ancho según sea necesario */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Agrega una sombra suave */
  }
  
  .mat-card-content {
    padding: 20px; /* Añade espacio interno al contenido */
  }
  
  .mat-card-title {
    color: #4CAF50; /* Color del título */
  }
  
  .mat-card-content ul {
    list-style-type: disc; /* Establece viñetas */
    padding-left: 20px; /* Añade un poco de espacio a la izquierda de la lista */
  }
  
  .mat-card-content li {
    margin-bottom: 5px; /* Añade espacio entre elementos de la lista */
  }
  
  .mat-card-content p {
    line-height: 1.5; /* Ajusta el espaciado entre líneas del párrafo */
  }



  /*objetivos*/
  .objective-card {
    margin-bottom: 20px; /* Espacio entre cada tarjeta */
    background-color: #f5f5f5; /* Color de fondo de las tarjetas */
    border-radius: 8px; /* Bordes redondeados */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Sombra suave */
    color: black;
  }
  
  .objective-card mat-card-content {
    padding: 20px; /* Espaciado interno */
  }
  
  .objective-card h2 {
    margin-top: 0; /* Elimina el margen superior del título */
  }
  
  .objective-card p {
    margin-bottom: 0; /* Elimina el margen inferior del párrafo */
  }




  /* ------------------------------------------------------------------------------------- */
  .swiperImage {
    width: 100%; /* Define el ancho deseado para las imágenes, por ejemplo, el 100% del contenedor */
    height: auto; /* Permite que la altura se ajuste automáticamente según el ancho definido */
    max-height: 700px; /* Define una altura máxima para las imágenes */
    object-fit: cover; /* Ajusta el tamaño de la imagen mientras mantiene la relación de aspecto y recorta el exceso */
  }
  /* ------------------------------------------------------------------------------------- */



/* cards */
  .example-card {
    max-width: 400px;
    margin: 30px;
    margin-bottom: 8px;
  }
  .grid-container {
    width: auto;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr)); /* Crea 4 columnas, con un ancho mínimo de 100px y se ajusta automáticamente */
    grid-gap: 10px; /* Espacio entre los elementos */
  }
 

/* letras para el swiper */
.swiper-slide {
  position: relative;
}

.message {
  position: absolute;
  top: 100px; /* Ajusta la distancia desde la parte superior */
  left: 10px; /* Ajusta la distancia desde la izquierda */
  font-family: cursive; /* Cambia el tipo de letra a cursive */
  color: rgb(48, 163, 67); /* Color del texto */
  padding: 5px; /* Espaciado interno del mensaje */
  font-size: 30px; /* Ajusta el tamaño de las letras a 20px */
}




/* calendario */
.boton{
  background-color: rgb(236, 236, 228);
  align-items: center;

}
.calendario-button {
  width: 30%;
  border-radius: 20px; /* Ajusta el radio de los bordes según lo desees */
  transition: background-color 0.3s, color 0.3s; /* Agrega una transición suave para los cambios de color */
}

.calendario-button:hover {
  background-color: #199734; /* Cambia el color de fondo al pasar el ratón sobre el botón */
  color: #fcf9f9; /* Cambia el color del texto al pasar el ratón sobre el botón */
}

.calendario-container {
  display: flex;
  justify-content: center;
  margin-top: 20px; /* Ajusta según sea necesario */
}

.calendario-image {
  border-radius: 10px; /* Ajusta el radio de los bordes según lo desees */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Agrega una sombra suave */
  transition: transform 0.3s; /* Agrega una transición suave al hacer hover */
  max-width: 100%; /* Asegura que la imagen no exceda el ancho del contenedor */
  height: auto; /* Permite que la altura se ajuste automáticamente para mantener la proporción */
}

.calendario-image:hover {
  transform: scale(1.1); /* Hace que la imagen se agrande ligeramente al pasar el ratón sobre ella */
}


@media screen and (max-width: 600px) {
  .calendario-button {
    width: 60%; /* Ajusta el ancho del botón en dispositivos móviles */
  }
}

/* calendario */